<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyconnectionBlog" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="A9F1E6B8471A693D7378395B727190E2333F03F35D4AF8C7FBB09BD4AE8F6D8B7D1BE909ADB28E09D92DC6DB3E3F2D7B7F1F3551D517792EC0E4016E72F4F8B2" decryptionKey="B2D52AF6B3277D0488BEFE5C98077E1C1532386CE119A7C9" validation="SHA1" decryption="AES" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\pisolutions.org\tmp" />
    <authentication mode="Forms">
      <forms defaultUrl="~/admin/dashboard" loginUrl="~/admin/login" slidingExpiration="true" timeout="28" />
    </authentication>
    

    <!--<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.DEMO\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.DEMO.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>